Repository Team-Masters/weather-app, pull requests merged in 2022-11, with the labels that each got.

#33 Adding the homepage
  .cspell.json
  .vscode/settings.json
  README.md
  react-app/.env
  react-app/.gitignore
  react-app/README.md
  react-app/package-lock.json
  react-app/package.json
  react-app/public/index.html
  react-app/public/manifest.json
  react-app/public/robots.txt
  react-app/src/App.js
  react-app/src/ReactRouter.jsx
  react-app/src/api-fetches/GetWeather.jsx
  react-app/src/components/Layout.jsx
  react-app/src/components/Navbar.jsx
  react-app/src/css-styles.css
  react-app/src/index.css
  react-app/src/index.js
  react-app/src/pages/Home.jsx
  react-app/src/pages/Profile.jsx
  react-app/src/view-models/WeatherCard.jsx
Labels: react, backend, html, css

#36 incorporating the signup/login functionalities
  react-app/package-lock.json
  react-app/package.json
  react-app/src/ReactRouter.jsx
  react-app/src/components/Layout.jsx
  react-app/src/components/Navbar.jsx
  react-app/src/components/NavigationRoutes.jsx
  react-app/src/css-styles.css
  react-app/src/index.js
  react-app/src/pages/Home.jsx
  react-app/src/pages/LogIn.jsx
  react-app/src/pages/Profile.jsx
  react-app/src/pages/SignUp.jsx
  react-app/src/utilities/Appheader.jsx
  react-app/src/utilities/AuthContext.js
  react-app/src/utilities/AuthProvider.jsx
  react-app/src/utilities/constants.js
  react-app/src/utilities/tokens.js
Labels: react, backend, strapi

#1 adding userpersonas
  README.md
  planning/userpersona.md
Labels: documentation

#45 Weather forecast
  react-app/package-lock.json
  react-app/package.json
  react-app/src/components/Forecast.jsx
  react-app/src/components/Navbar.jsx
  react-app/src/components/ProfilePicture.jsx
  react-app/src/components/search.js
  react-app/src/css-styles.css
  react-app/src/index.js
  react-app/src/pages/Home.jsx
  react-app/src/pages/Profile.jsx
  react-app/src/utilities/Appheader.jsx
Labels: frontend, fetching, css

#44 setting user's avatar in their profiles
  react-app/package-lock.json
  react-app/package.json
  react-app/src/components/Navbar.jsx
  react-app/src/components/ProfilePicture.jsx
  react-app/src/components/search.js
  react-app/src/css-styles.css
  react-app/src/index.js
  react-app/src/pages/Profile.jsx
  react-app/src/utilities/Appheader.jsx
Labels: backend, css

#46 resolving avatar padding issues
  react-app/src/api-fetches/GetWeather.jsx
  react-app/src/components/ProfilePicture.jsx
  react-app/src/css-styles.css
  react-app/src/pages/Home.jsx
  react-app/src/utilities/Appheader.jsx
Labels: css

#47 matching Google Calendar events and weather - first draft
  react-app/public/index.html
  react-app/src/api-fetches/date-convertor.service.js
  react-app/src/api-fetches/events.service.js
  react-app/src/api-fetches/location-converter-2.service.js
  react-app/src/api-fetches/location-converter.service.js
  react-app/src/api-fetches/weather.service.js
  react-app/src/api-fetches/weather.tomorrow.service.js
  react-app/src/components/EventList.jsx
  react-app/src/components/Navbar.jsx
  react-app/src/components/event-list.css
  react-app/src/index.js
  react-app/src/pages/Home.jsx
  react-app/src/view-models/event-list.vm.js
Labels: react, frontend

#48 re-structuring files, deleting unnecessary variables, folders
  .vscode/settings.json
  react-app/package-lock.json
  react-app/package.json
  react-app/public/index.html
  react-app/src/App.css
  react-app/src/App.js
  react-app/src/api-fetches/auto-complete-service.js
  react-app/src/api-fetches/location-converter.js
  react-app/src/api-fetches/location-converter.service.js
  react-app/src/components/CurrentWeatherAndForecast.jsx
  react-app/src/components/EventList.jsx
  react-app/src/components/Navbar.jsx
  react-app/src/components/event-list.css
  react-app/src/components/search.js
  react-app/src/pages/Home.jsx
  react-app/src/pages/Profile.jsx
  react-app/src/pages/SignUp.jsx
  react-app/src/view-models/EventsList.jsx
Labels: frontend

#61 search bar styling
  react-app/src/App.css
  react-app/src/components/Navbar.jsx
  react-app/src/components/search.js
  react-app/src/pages/Home.jsx
  react-app/src/pages/LogIn.jsx
  react-app/src/pages/SignUp.jsx
  react-app/src/utilities/Appheader.jsx
  react-app/src/utilities/LightToDark.js
Labels: react, css

#62 updating the API address
  react-app/src/App.css
  react-app/src/components/search.js
  react-app/src/pages/SignUp.jsx
  react-app/src/utilities/LightToDark.js
  react-app/src/utilities/constants.js
Labels: css

#67 Search city debounce
  react-app/src/api-fetches/GetWeather.jsx
  react-app/src/components/search.js
Labels: frontend
