Repository Team-Masters/weather-app, pull requests merged in 2022-12, with the labels that each got.

#66 Background images automatization
  react-app/public/index.html
  react-app/src/App.css
  react-app/src/api-fetches/GetWeather.jsx
  react-app/src/api-fetches/weather.service.js
  react-app/src/components/CurrentWeatherAndForecast.jsx
  react-app/src/components/search.js
Labels: enhancement, frontend, javascript

#78 Night mode background change based on time of day
  .vscode/settings.json
  react-app/src/App.css
  react-app/src/api-fetches/GetWeather.jsx
  react-app/src/components/CurrentWeatherAndForecast.jsx
Labels: frontend, javascript

#80 updating the backgrounds and styling them for desktop view
  package-lock.json
  package.json
  react-app/package-lock.json
  react-app/src/App.css
  react-app/src/api-fetches/GetWeather.jsx
  react-app/src/components/CurrentWeatherAndForecast.jsx
Labels: css

#86 adding a function to display weather on Windows load
  .vscode/settings.json
  react-app/src/App.css
  react-app/src/api-fetches/auto-complete-service.js
  react-app/src/api-fetches/dailyForecast.js
  react-app/src/components/Search.jsx
  react-app/src/pages/Home.jsx
  react-app/src/view-models/WeatherCard.js
  react-app/src/view-models/eventsListViewModel.js
Labels: react

#87 updating the styles for the forecast section
  react-app/src/App.css
  react-app/src/api-fetches/dailyForecast.js
  react-app/src/components/EventList.jsx
  react-app/src/components/Search.jsx
  react-app/src/pages/SignUp.jsx
  react-app/src/utilities/LightToDark.js
  react-app/src/view-models/WeatherCard.js
Labels: css

#88 implementing the show weather forecast when no geolocation exists
  react-app/src/api-fetches/auto-complete-service.js
  react-app/src/api-fetches/dailyForecast.js
  react-app/src/components/GetWeather.jsx
Labels: frontend

#93 api keys update
  react-app/src/api-fetches/weather.tomorrow.service.js
Labels: react

#94 adding responsiveness to the website
  .vscode/settings.json
  react-app/src/App.css
  react-app/src/api-fetches/weather.tomorrow.service.js
  react-app/src/components/EventList.jsx
Labels: css

#96 minor Google Events fixes
  react-app/README.md
  react-app/src/App.css
  react-app/src/api-fetches/daily-forecast.js
  react-app/src/components/EventList.jsx
  react-app/src/pages/Home.jsx
  react-app/src/pages/LogIn.jsx
  react-app/src/pages/SignUp.jsx
  react-app/src/view-models/WeatherCard.js
  react-app/src/view-models/eventsListViewModel.js
Labels: bug

#95 Media queries and responsivness!
  .vscode/settings.json
  react-app/src/App.css
Labels: frontend, css

#97 Readme
  README.md
  planning/README.md
  planning/backlog.md
  planning/development-strategy.md
  planning/user-persona.md
  react-app/src/App.css
Labels: documentation

#98 fixed routing bugs
  react-app/src/api-fetches/daily-forecast.js
  react-app/src/components/GetWeather.jsx
  react-app/src/components/Navbar.jsx
  react-app/src/view-models/WeatherCard.js
Labels: bug

#99 rainny weather issues fixed
  react-app/src/api-fetches/daily-forecast.js
  react-app/src/components/GetWeather.jsx
Labels: react

#102 Responsivness and Icons
  react-app/src/App.css
  react-app/src/view-models/WeatherCard.js
Labels: bug
